COMPOSE_PATH_SEPARATOR="{{ provider:compose.path-separator }}"
COMPOSE_FILE="{{ provider:compose.collect-files }}"

GRAFANA_ADMIN=admin
GRAFANA_ADMIN_PASSWORD_FILE={{ GIT_ROOT_DIR }}/data/secrets/grafana_admin_password
